.navbar{
    background-color: rgb(58, 19, 120) !important;
  }
   
  .nav-link{
  color: rgb(255, 255, 255);
  }
   
  .navbar-brand{
    color: rgb(255, 255, 255);
  }

  .progress{
    background-color: brown;
    z-index: 3;
  }
   
  .card{
    background-color: rgb(215, 173, 255);
  }
  